<div class="columns is-full ">

    <div class="column is-one-third is-3 box mt-5">
      <figure class="">
        <img [src]="url" height="250px" width="150px">
      </figure>
      <p>
        <input type="file" (change)="changerPhoto($event)">
        <span class="tag is-warning tag is-rounded  is-large">Changer Photo</span>
      </p>
      <div>
        Profil
      </div>
    </div>

<!-- -------------------------------------------------------------------------------------------------- -->


      <div class="column is-9  is-narrow mt-2">
        <div class="box">
          <p class="title is-5 ">Experience Professionnelles</p>
          <p class="subtitle">#message</p>
        </div>
        <div class="box">
          <p class="title is-5">Formation</p>
          <p class="subtitle">#message</p>
        </div>
        <div class="message is-info">
          <div class="message-header">
            Formation
          </div>
          <div class="message-body">
           #message
          </div>
        </div>
      </div>
  

     
<div>