<nav class="breadcrumb  is-size-5 px-4 mx-6 py-4" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">TP</a></li>
    <li><a href="#">Documentation</a></li>
    <li><a href="#">Components</a></li>
    <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
  </ul>
</nav>
<div class="field">
  <p class="control has-icons-left has-icons-right px-4 mx-6 py-4 is-size-1">
    CV-6 Bonne Chance pour le TP

  </p>
</div>

<div class="section1"> 
  <div class="contain"> 
    <h1 class="">Upload Profil</h1>
    <img class="rounded-circle" [src]="urllink">
    <input type="file" class="btn btn-success btn-sm" (change)="selectFiles($event)">
  </div>
  <div class="container1"> 
    <p class="">
      CV-6 Bonne Chance pour le TP
    </p>
  </div>
</div>